#Virtual Environment
venv
fvenv

#Pycharm IDE configurations
.idea

#Compiled files
**/handlers/__pychache__
/handler/.DS_Store
/sideCode/__pycache__
.DS_Store
__pycache__

#Other code/config
config/gaze.json

#Results
output
